#Ejercicios métodos

In [18]:
def npc(a,b):
  if a>b:
    print(a," es el mayor")
  else:
    print(b," es el mayor")
#    return a
#  return b

In [16]:
print(npc(6,3))

6  es el mayor
None

In [24]:
def mayor(x,y,z):
  npc(x,npc(y,z))

In [ ]:
print(mayor(4,5,6))

#1. Determine el mayor de dos números

In [1]:
def npc(a,b):
  if a>b:
    print(a," es el mayor")
  else:
    print(b," es el mayor")
#    return a
#  return b

In [2]:
print(npc(6,3))

6  es el mayor
None

#2. Determine el mayor de tres números (empleando la función anterior).

#3. Sumar los números de una lista de 3 elementos. Ejemplo [3,4,5]. Salida: 12

In [38]:
def sumar(a,b,c):
  lista=[a,b,c]
  suma=0
  suma=lista[0]+lista[1]+lista[2]
  return suma

In [39]:
sumar(3,4,5)

12

#4. Sumar los números de una lista de 4 elementos. Ejemplo [3,4,5,6]. Salida: 18

In [42]:
def sumar(a,b,c,d):
  lista=[a,b,c,d]
  suma=0
  suma=lista[0]+lista[1]+lista[2]+lista[3]
  return suma

In [43]:
sumar(3,4,5,6)

18

#5. Sumar todos los números de una lista. Ejemplo: (8,5,3,1). Salida: 17

In [85]:
n=int(input("Largo de la lista: "))
append
for i in range(0,n,1):
  int(input("números: "))
def sumar(x):
  lista=[x]
  suma=sum(lista)
  return suma

Largo de la lista: 3
numeros: 1
numeros: 2
numeros: 3

#6. Multiplicar los números de una lista de 3 elementos. Ejemplo [0,4,5]. Salida: 0

In [91]:
def sumar(a,b,c):
  lista=[a,b,c]
  suma=0
  suma=lista[0]*lista[1]*lista[2]
  return suma

In [94]:
sumar(0,4,5)

0

#7. Multiplicar los números de una lista de 4 elementos. Ejemplo [3,4,5,1]. Salida: 60

In [95]:
def sumar(a,b,c,d):
  lista=[a,b,c,d]
  suma=0
  suma=lista[0]*lista[1]*lista[2]*lista[3]
  return suma

In [96]:
sumar(3,4,5,1)

60

#8. Multiplicar todos los números de una lista. Ejemplo: (1,2,3,-1). Salida: -6

#9. Invierta un String. Ejemplo: ingresa Hola y retorna aloH

In [99]:
a=str(input("escribe algo: "))
def invertir(a):
  return a[::-1]

escribe algo: hola

In [100]:
invertir(a)

'aloh'

#10. Calcular el factorial de un número

In [130]:
n=int(input("Número: "))
def fact(n):
  for i in range(0,n,1):
    factorial=n*i*(n-1)
  return factorial

Número: 5

In [129]:
fact(n)

80

#11. Si un número está dentro de un rango

#12. Capture el número de mayúsculas y minúsculas en una oración.

#13. El ejercicio anterior, pero almacene los resultados en un diccionario.

#14. Reciba una lista y retorne sólo los elementos pares

#15. Reciba una lista y retorne sólo los elementos de posición impar

#16. Recibir un número y decir si es perfecto o no. Ejemplo: 6 es perfecto, porque la suma de sus divisores es 6 (1+2+3)

#17. Chequear si una palabra es palíndromo o no. Ejemplo: “Ana” es un palíndromo

#18. Imprimir la fila n del triángulo de pascal

#19. Imprimir una frase tipo oración. Ejemplo: Ingresa: esta es una oración e imprime Esta es una oración.

#20. Acepte palabras separadas por – y las ordene alfabéticamente.
#Ejemplo: ingresa verde-rojo-amarillo-blanco-negro
#Regresa: amarillo-blanco-negro-rojo-verde