#Programación Orientada a Objetos 
Clase es como un molde 
* Variables -> atributos 
* Funciones -> métodos
* Constructor -> constituye una clase 
* Objetos: comparten atributos, métodos, relaciones que tienen una identidad propia

In [5]:
class Mascotas():
  pass

In [6]:
a=Mascotas
b=Mascotas

In [7]:
if a==b: 
  print("Son iguanitos")
else: 
  print("No son iguanitos")

Son iguanitos

In [33]:
class Empleado():
  #Construyendo un constructor  
  def __init__(self,nombre,edad,id,salario):
    self.nombre=nombre
    self.edad=edad
    self.id=id
    self.salario=salario

  def __repr__(self):
    return f"nombre:{self.nombre}, edad:{self.edad}, id:{self.id}, salario:{self.salario}"

In [34]:
sonia=Empleado("Sonia",25,"U00122314",10000000)

In [35]:
print(sonia)

nombre:Sonia, edad:25, id:U00122314, salario:10000000

In [16]:
sonia.nombre

'Sonia'

In [19]:
sonia.__dict__

{'nombre': 'Sonia', 'edad': 25, 'id': 'U00122314', 'salarios': 10000000}

In [36]:
madaniel=Empleado("Pirulais", 83, "U001512345", 1000000)

In [39]:
if sonia.salario==madaniel.salario:
  print(f"El salario de {madaniel.nombre} y {sonia.nombre} son iguales")
elif sonia.salario>madaniel.salario:
  print(f"El salario de {madaniel.nombre} es menor al de {sonia.nombre}")
else: 
  print(f"El salario de {madaniel.nombre} es mayor al de {sonia.nombre}")

El salario de Pirulais es menor al de Sonia

In [59]:
class Fraccion:
  #Atributos de clase 
  num=0
  den=1
  #Creando el constructor 
  def __init__(self,num=0,den=1):
    self.num=num
    self.den=den
  def multiplica(self,b):
    num=self.num*b.num
    den=self.den*b.den
    r=Fraccion(num,den)
    return r
  def imprime(self):
    print(self.num,"/", self.den)

In [60]:
#Creando objetos tipo fracción 
a1=Fraccion(4,5)
a2=Fraccion(8,9)

In [61]:
a1.imprime()
a2.imprime()

4 / 5
8 / 9

In [62]:
c=a1.multiplica(a2)
c.imprime()

32 / 45